@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.holtwood{
  font-family: holtwood;
}

.hammersmith{
  font-family: hammersmith;
}

.green-bg{
  background-color: #3EBE9F;
}

.green-gradient-bg{
  background-image: linear-gradient(to right, #AEE6D9, #3EBE9F);
}

@font-face {
  font-family: Holtwood;
  src: url('../assets//HoltwoodOneSC-Regular.ttf');
}


::-webkit-scrollbar {
  width: 0;
}

@font-face {
  font-family: Hammersmith;
  src: url(../assets/HammersmithOne-Regular.ttf);
}

.selectTxt > .text-gray-900 {
  color: rgba(11, 125, 97, 1) !important;
}


=======
@font-face {
  font-family: hammersmith;
  src: url('../assets//HammersmithOne-Regular.ttf');
}

